
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<page class="Page">

    <div align="center">
        <button type="button" class="buttonMainMenu" onclick="location.href='@Url.Action("SelectNewOrder", "NewOrder")'">New order</button>
        <img src="~/Content/Actual_orders.png" class="imgMainMenu" alt="Actual order" />
    </div>

    <div align="center">
        <button type="button" class="buttonMainMenu" onclick="location.href='@Url.Action("FindOrderForId", "Orders")'">Edit order</button>
        <img src="~/Content/edit.png" alt="Actual order" class="imgMainMenu" />
    </div>

    <div align="center">
        <button type="button" class="buttonMainMenu" onclick="location.href='@Url.Action("ActualOrders", "Orders")'">Actual orders</button>
        <img src="~/Content/Done_orders.png" alt="Done order" class="imgMainMenu" />
    </div>

    <div align="center">
        <button type="button" class="buttonMainMenu" onclick="location.href='@Url.Action("DoneOrders", "Orders")'">Done orders</button>
        <img src="~/Content/New_order.png" alt="New order" class="imgMainMenu" />
    </div>

</page>
