@{    
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<page class="Page">

<h2>Information about this web aplication</h2>
<pre>
Service Station is a test program.

This program is developed using ASP.NET MVC technology and SQL Server.
It's the solution to the task described below.
 
Task: To simulate the work of the Service station.

The following types of vehicles can be serviced at the Service station: passenger car, truck and bus.
The service station diagnoses the following nodes: car bodes, wheels, engines, brakes, undercarriages,
hydraulics (only for truck) bus seats upholstery and handsrails (only for bus).
For each listed node there is a current state from 0 to 100 points (100 points - new, 0 points - not working).

Additional services (at the request of the client):
- wheel balancing for passenger car;
- changing the upholstery of the seats in the cabin for bus.

It is necessary:
- to evaluate the general condition of the vehicle (arithmetic mean for all nodes);
- consider the cost of repair and repair every detail;
- The form on which you can register a arrived car, state it each detail, show the general
condition, the cost of repairs, indicate additional services and display order cost.
Program allows to keep track of the Service Station work, in particular:
 - to enter and save car data;
 - the cost of service stations;
 - to calculate the cost of orders;
 - to calculate the average state of the detail.
</pre>
</page>



