@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<div class="windowApp">
    <button type="button" class="buttonMainMenu" onclick="location.href='@Url.Action("NewOrderMethod", "NewOrderController")'">New order</button>
    <img src="~/Content/Actual order.png" alt="Actual order" class="imgMainMenu" />
    <br />
    <button type="button" class="buttonMainMenu" onclick="location.href='@Url.Action("ActualOrderMethod", "ActualOrderController")'">Actual order</button>
    <img src="~/Content/Done order.png" alt="Done order" class="imgMainMenu" />
    <br />
    <button type="button" class="buttonMainMenu" onclick="location.href='@Url.Action("DoneOrderMethod", "DoneOrderController")'">Done order</button>
    <img src="~/Content/New order.png" alt="New order" class="imgMainMenu" />
    <br />
</div>
