@model IEnumerable<SSAspNet.Model.Order>

@{
    ViewBag.Title = "ActualOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<page class="Page">
    <h2 align="center">Actual orders</h2>

    <table class="table">
        <tr>
            <th># order</th>
            <th>Car number</th>
            <th>Cost order</th>
            <th>Order paid</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberCar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderPaid)
                </td>
            </tr>
        }
    </table>
</page>